main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    background: var(--primary-color);
    box-shadow: var(--main-shadow);
    border-radius: 4px;
}
.computer-title {
    text-transform: uppercase;
    margin-bottom: 12px;
    color: var(--normal-color);
}
.computer-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 2px;
    overflow: hidden;
}
.computer-container input {
    border: none;
    outline: none;
    width: 300px;
    height: 60px;
    background: transparent;
    padding: 4px;
    text-align: right;
}
input.computer-input {
    font-size: 28px;
}
input.computer-input::placeholder {
    font-size: 20px;
}
.computer-output {
    text-align: right;
    border-top: 1px solid #000;
    height: 30px;
    font-size: 24px;
    padding: 2px 6px;
    background: var(--normal-color);
    color: var(--primary-color);
}
.submit-btn {
    width: 100%;
    font-size: 24px;
    border: none;
    background: var(--normal-color);
    color: var(--primary-color);
    padding: 6px 0;
    margin-top: 6px;
    box-shadow: var(--main-shadow);
    border-radius: 6px;
    cursor: pointer;
    opacity: .8;
    transition: linear .2s opacity;
}
.submit-btn:hover {
    opacity: 1;
}